build/
managed_components/
docs/html/
docs/latex/
test_scripts/
!test_scripts/*.py

*.o
*.a

*~
\#*\#
.\#*

*.dSYM
.cache

sdkconfig.old
*.csv
*.log
*.bin
*.old

!final_dataset/*.csv
!final_dataset/*.log
