build/

*.o
*.a

*~
\#*\#
.\#*

*.dSYM
.cache

# ignore compile flags and clangd cfg
compile_commands.json
.clangd
# to use clangd lsp run idf.py -B build.clang -D IDF_TOOLCHAIN=clang reconfigure and point clangd to compile commands file in build.clang
build.clang
